<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>





  <div>Current Count: {{ showNumberItens }}</div>

  <div *ngFor="let prod of productList">
    <div>
      <p>{{prod.prodName}}</p>
    </div>
    <ion-button (click)="increment(prod)">
      Adicionar no carrinho
    </ion-button>

    <!-- <ion-button (click)="decrement()">
    Click me
  </ion-button> -->


  </div>


  <ion-button (click)="reset()">
    Reset Counter
  </ion-button>

  
</ion-content>
